<div style="text-align: center; margin-top: 50px;">
        <h1 style="color: #FFF;">Thank You for Your Purchase</h1>
        <p style="color: #FFF;">We appreciate your business!</p>
        <button type="button" class="btn btn-primary" onclick="goBack()">Back</button>
    </div>

    <script>
        function goBack() {
            window.location.href = "https://proyectofinal-romero-cruz.onrender.com/products"
        }
    </script>